@import "../../../assets/style/colors.scss";
@import "../../../assets/style/fonts.scss";

@font-face {
  font-family: Poppins-Medium;
  src: url(../../../assets/Fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../../assets/Fonts/Poppins-Bold.ttf);
}

*:focus {
  box-shadow: none;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins-Medium;
}

.login-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: min-content;
  justify-content:space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px
}

.login-title{
  @include heading3;
  color: $black;
  font-family:  Poppins-Bold;
  margin-bottom: 20px;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 90%;
}

.login-tabs{
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 48px;
  background-color: $ligthGreen;
  border-radius:5px;

  .tab{
    @include heading5;
    color: $black;
    background-color: $ligthGreen;
    border-radius: 5px;
    width:49%;
    height: 38px;
    border:none;
    outline: none;
  }
  .tabFocus{
    background-color: $white;
    box-shadow: 2px 2px $ligthGreen;
  }
}

.sign-in,
.register{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  @include heading5;
  font-family: Poppins-Medium;
  color: $black;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border:none;
  outline: none;
  border-bottom: 1px solid $ligthGreen;
  @include body-medium;
  font-family: Poppins-Medium;
}

.input-title{ 
  @include heading5;
  color: $black;
}
input[type="checkbox"] {
  accent-color: $white;
  margin-right: 5px;
  border: 1px solid $ligthGreen;
}
.body-small{
  @include body-small;
  color: $black;
}

.dark-btn {
    width: 100%;
    height: 48px;
    background-color: $ligthGreen;
    color: $white;
    border-radius: 8px;
    outline: none;
    border: 0.5px solid $ligthGreen;
    @include body-medium;
    font-family: Poppins-Medium;
    transition: font-weight 0.1s ease-in-out;
    cursor: pointer;
  
    &:hover{
      font-family: Poppins-Bold;
      opacity: 0.9;
    }
  } 

.reminder{
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
}
.error{
  @include body-small;
  color: $errors;
  margin-bottom: 5px;
}
