
<section class="booking-form-wrapper">
  <form  class="booking-form"[formGroup]="searchForm" (formSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Destinetion</mat-label>
      <mat-select>
        @for (city of  capitalCities; track city) {
          <mat-option [value]="city">{{city}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <input
        class="form-input"
        formControlName="guests"
        type="number"
        min="1"
        placeholder="Guests"
      />
      <button  class="submit-btn" type="submit">Search</button>
  </form>
</section>

