@import "../../../assets/style/colors.scss";
@import "../../../assets/style/fonts.scss";
@font-face {
  font-family: Poppins-Medium;
  src: url(../../../assets/Fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../../../assets/Fonts/Poppins-Bold.ttf);
}

.booking-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  padding: 50px;
  background-color: $darkOrange;
  @include body-small;
  font-family:Poppins-Bold;

  @media screen and (max-width: 576px){
    height: min-content;
    padding: 20px;
   }

}

.booking-form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  width: 90%;
  height: max-content;
  padding: 10px;
  background-color: $white;
  border-radius: 50px;


  @media screen and (max-width: 576px){
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: max-content;
   }

}

.form-input {
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid $darkOrange;
  outline: none;


  @media screen and (max-width: 576px){
    width: 80%;
   }
}

.submit-btn {
  width: 150px;
  height:48px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: $darkOrange;
  color: $white;
  transition: font-weight 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
    font-weight: 600;
  }
}