<section class="booking-form-wrapper">
  <form  class="booking-form"  [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Destinetion</mat-label>
      <mat-select formControlName="destination">
        @for (city of  capitalCities; track city) {
          <mat-option [value]="city">{{city}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date" formControlName="checkInDate">
          <input matEndDate placeholder="End date" formControlName="checkOutDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Guests Number</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               formControlName="guests"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of options; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    <div>
      <button  class="submit-btn" type="submit">Search</button>
    </div>
  </form>
</section>

