<main class="footer-container">
    <div class="footer-links">
      <section class="footer-column">
        <h4>Mobile version</h4>
        <ul>
          <li><a href="#">Countries</a></li>
          <li><a href="#">Regions</a></li>
          <li><a href="#">Cities</a></li>
          <li><a href="#">Districts</a></li>
          <li><a href="#">Airports</a></li>
          <li><a href="#">Hotels</a></li>
          <li><a href="#">Places of interest</a></li>
        </ul>
      </section>
      <section class="footer-column">
        <h4>Your account</h4>
        <ul>
          <li><a href="#">Homes</a></li>
          <li><a href="#">Apartments</a></li>
          <li><a href="#">Resorts</a></li>
          <li><a href="#">Villas</a></li>
          <li><a href="#">Hostels</a></li>
          <li><a href="#">Guest Houses</a></li>
        </ul>
      </section>
      <section class="footer-column">
        <h4>Make changes online to your booking</h4>
        <ul>
          <li><a href="#">Unique places to stay</a></li>
          <li><a href="#">Reviews</a></li>
          <li><a href="#">Discover monthly stays</a></li>
          <li><a href="#">Travel articles</a></li>
          <li><a href="#">Seasonal and holiday deals</a></li>
          <li><a href="#">Traveller Review Awards</a></li>
        </ul>
      </section>
      <section class="footer-column">
        <h4>Customer Service Help</h4>
        <ul>
          <li><a href="#">Car rental</a></li>
          <li><a href="#">Flight finder</a></li>
          <li><a href="#">Restaurant reservations</a></li>
          <li><a href="#">Booking.com for Travel Agents</a></li>
        </ul>
    </section>
      <section class="footer-column">
        <h4>Become an affiliate</h4>
        <ul>
          <li><a href="#">Coronavirus (COVID-19) FAQs</a></li>
          <li><a href="#">About Arahet.com</a></li>
          <li><a href="#">Customer Service Help</a></li>
          <li><a href="#">Partner help</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sustainability</a></li>
          <li><a href="#">Press Center</a></li>
          <li><a href="#">Safety Resource Center</a></li>
          <li><a href="#">Investor relations</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Partner dispute</a></li>
        </ul>
    </section>
    </div>
</main>
  