<header class="header">
    <div class="logo-wrapper" routerLink="/home">
        <img class="logo" src="../../../assets/images/Logo.png" alt="Logo">
        <img class="logo-s" src="../../../assets/images/Logo-img.png" alt="Logo">
    </div>
    <nav class="nav-bar">
        <ul class="nav-links">
            <li>
                <a href="/contact-us" class="nav-link">
                    <span class="nav-link-text">Contact Us</span>
                    <span class="nav-link-icon material-icons md-36">phone</span>
                </a>
            </li>
            <li>
                <a href="/login" class="nav-link">
                    <span class="nav-link-text">Account</span>
                    <span class="nav-link-icon material-icons md-36">account_circle</span>
                </a>
            </li>
        </ul>
    </nav>
</header>
