<main class="container" aria-label="container">
    <!--Trending destinations -->
    <section class="tranding-wrapper" aria-label="tranding-wrapper">
        <h3 class="section-title">Trending destinations</h3>
        <div class="scroll-container">
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/685453.jpg?k=7a470ff43b0210aa5f418ece0e04324c742a1a0ea4e6744ce093ed94bdc5581b&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Yerevan</h3>
            </div>
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/691464.jpg?k=9d065dc574012a9e15ef4f2fe25dc035d69f7061ad2c77d54eddb3dbbde8d6d3&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Tbilisi</h3>
            </div>
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/977192.jpg?k=9b5deb1736f05b131436cd8ee666e23a766e74c39720fce87cec8677238fe207&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Rome</h3>
            </div>
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/977220.jpg?k=ee4b7b42c35b8cbf09c8ddb7630092b40cd706fec153c41904ed6e252a883938&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Dubai</h3>
            </div>
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/691621.jpg?k=c42cfe573c89d884b935ea9b3936e0aa985622df29d7608c9b4a8cd2ec403c5c&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Batumi</h3>
            </div>
            <div class="trand-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/685453.jpg?k=7a470ff43b0210aa5f418ece0e04324c742a1a0ea4e6744ce093ed94bdc5581b&o=" 
                alt="Country"
                />
                <h3 class="section-subtitle">Yerevan</h3>
            </div>
          </div>
    </section>
    <!--Explore part  -->
    <section class="explore-wrapper" aria-label="explore-wrapper">
        <h4 class="section-title">Explore Armenia</h4>
        <div class="scroll-container">
            <div class="explore-info">
                <img class="explore-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/685453.jpg?k=7a470ff43b0210aa5f418ece0e04324c742a1a0ea4e6744ce093ed94bdc5581b&o=" 
                alt="City"
                />
                <h3 class="subtitle">Yerevan</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://r-xx.bstatic.com/xdata/images/city/170x136/917646.jpg?k=40d120832eb8f2968538aca56e33783aef77e4f1bed7d71457bafb0b69083fa0&o=" 
                alt="City"
                />
                <h3 class="subtitle">Dilijan</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/city/170x136/842870.jpg?k=2b12b34bdbd702318a6925bc148fc988fe9f6243041659997dc38c84da175ab2&o=" 
                alt="City"
                />
                <h3 class="subtitle">Tsaghadzor</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/city/170x136/701420.jpg?k=7b23e5aa0021378635aa997c154da4d900734513d882cd781e230c1959530918&o=" 
                alt="City"
                />
                <h3 class="subtitle">Gyumri</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://r-xx.bstatic.com/xdata/images/city/170x136/791375.jpg?k=47e48c5b384134817137aad348f3e18d4f8f1c2fb5a0e66066116c0f92dc900e&o=" 
                alt="City"
                />
                <h3 class="subtitle">Stepanavan</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://r-xx.bstatic.com/xdata/images/city/170x136/928444.jpg?k=46f23455d95fd24a6ceeb3a7706eeccf38c61d453d9d376353072dc26089ca4e&o=" 
                alt="City"
                />
                <h3 class="subtitle">Sevan</h3>
            </div>
          </div>
    </section>
    <!-- Browse by property type part -->
    <section class="byProperty-wrapper" aria-label="byProperty-wrapper">
        <h4 class="section-title">Browse by property type</h4>
        <div class="scroll-container">
            <div class="explore-info">
                <img class="explore-img"
                src="https://r-xx.bstatic.com/xdata/images/xphoto/263x210/57584488.jpeg?k=d8d4706fc72ee789d870eb6b05c0e546fd4ad85d72a3af3e30fb80ca72f0ba57&o=" 
                alt="Hotel"
                />
                <h3 class="subtitle">Hotel</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/hotel/263x210/119467716.jpeg?k=f3c2c6271ab71513e044e48dfde378fcd6bb80cb893e39b9b78b33a60c0131c9&o=" 
                alt="Apartaments"
                />
                <h3 class="subtitle">Apartaments</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450084.jpeg?k=f8c2954e867a1dd4b479909c49528531dcfb676d8fbc0d60f51d7b51bb32d1d9&o=" 
                alt="Resorts"
                />
                <h3 class="subtitle">Resorts</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://r-xx.bstatic.com/xdata/images/hotel/263x210/100235855.jpeg?k=5b6e6cff16cfd290e953768d63ee15f633b56348238a705c45759aa3a81ba82b&o=" 
                alt="Villas"
                />
                <h3 class="subtitle">Villas</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450082.jpeg?k=beb101b827a729065964523184f4db6cac42900c2415d71d516999af40beb7aa&o=" 
                alt="Hostels"
                />
                <h3 class="subtitle">Hostels</h3>
            </div>
            <div class="explore-info">
                <img class="explore-img"
                src="https://q-xx.bstatic.com/xdata/images/xphoto/263x210/45450093.jpeg?k=aa5cc7703f3866af8ffd6de346c21161804a26c3d0a508d3999c11c337506ae1&o=" 
                alt="Motels"
                />
                <h3 class="subtitle">Motels</h3>
            </div>
          </div>
    </section>
    <!-- Quick PLanner part -->
    <section class="quickPlanner-wrapper" aria-label="quickPlanner-wrapper">
        <h4 class="section-title">Quick and easy trip planner</h4>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Outdoors">Content 1</mat-tab>
            <mat-tab label="City">Content 2</mat-tab>
            <mat-tab label="Romance">Content 3</mat-tab>
            <mat-tab label="Beach">Content 3</mat-tab>
        </mat-tab-group>
    </section>
    <!--Next trip part  -->
    <section class="getInspiration-wrapper" aria-label="getInspiration-wrapper">
        <h4 class="section-title">Get inspiration for your next trip</h4>
        <div class="scroll-container">
            <div class="explore-info">
                <img class="trand-img"
                src="https://xx.bstatic.com/xdata/images/hotel/600x600/440847746.jpg?k=e7839814f33ba3eb0756dae38fdaf9aceca29922c6eb604d87d424ba7f6f22a8&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Mexico</h3>
            </div>
            <div class="explore-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/685453.jpg?k=7a470ff43b0210aa5f418ece0e04324c742a1a0ea4e6744ce093ed94bdc5581b&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Yerevan</h3>
            </div>
            <div class="explore-info">
                <img class="trand-img"
                src="https://xx.bstatic.com/xdata/images/hotel/square600/201223134.jpg?k=a2f581ab233353cab182bf8a12f833582c426df6564252e4d59279ddbd45d60c&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Madrid</h3>
            </div>
            <div class="explore-info">
                <img class="trand-img"
                src="https://xx.bstatic.com/xdata/images/hotel/square600/568723332.jpg?k=a347d663323a89c6a640da05882c8d13392230aace93a28670819be9325d1ad4&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Rome</h3>
            </div>
            <div class="explore-info">
                <img class="trand-img"
                src="https://xx.bstatic.com/xdata/images/hotel/square600/185580679.jpg?k=50467f2d9cdcf28cfc2f89b262800be132f747d2305c86f8bf633da404d23455&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Tokyo</h3>
            </div>
            <div class="explore-info">
                <img class="trand-img"
                src="https://cf.bstatic.com/xdata/images/city/600x600/685453.jpg?k=7a470ff43b0210aa5f418ece0e04324c742a1a0ea4e6744ce093ed94bdc5581b&o=" 
                alt="Country"
                />
                <h3 class="subtitle">Yerevan</h3>
            </div>
          </div>
     

    </section>
</main>
